<header class="container">
  <h1>Angular testing</h1>
  <p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Natus nemo
    quisquam neque dolorem nam? Ratione nihil minus soluta porro exercitationem
    deleniti repudiandae obcaecati, sint impedit praesentium! Vitae earum
    dolorum praesentium.
  </p>
  <nav>
    <ul>
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/products">Products</a></li>
      <li><a routerLink="/pico-preview">Pico Preview</a></li>
    </ul>
  </nav>
</header>
<router-outlet></router-outlet>
